body{
    background-image:url(pvp.jpg);
    background-size:cover;
}

h1{
    font-size: 3em;
    font-family:monospace;
    
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:darkgray;
}

li {
    float:left;
}


li a{
    display:block;
    color: deeppink;
    padding: 12px 16px;
    text-decoration: none;
    background-color:black;
}
li a:hover{
    background-color:white;
    color:black;
}